.PooCard {
    min-height:80px;
    margin-top:10px;
  
    margin-left:10px;
    display:flex;
    flex-direction: column;
    background-color: white;
    z-index:1;
    border:1px solid rgb(220, 209, 209);
    border-radius:20px;
    margin:20px 160px;
    padding:10px;
    box-shadow: 0px 10px 27px -5px #777777;
}


.PooCard-new-notif {
    min-height:80px;
    margin-top:10px;
  
    margin-left:10px;
    display:flex;
    flex-direction: column;
    background-color: white;
    z-index:1;
    border:1px solid rgb(220, 209, 209);
    border-radius:20px;
    margin:20px 160px;
    padding:10px;
    box-shadow: 0px 10px 27px -5px #777777;
    background-color: rgb(216, 176, 164);
}

.new-notif {
    color:aqua;
    margin:5px 0px;
    font-weight: bold;
    font-size:20px;
}
.ViewCount {
    margin:3px 0;
    font-weight: bold;
    color:green
}

.username {
    font-size:15px;
    font-weight:bold;
    margin:0;
}

.Contents {
    margin:0;
    font-size:20px;
}

.ANGRY {
    height: 20px;;
}


.ShowDate {
    margin-top:5px;
    margin-bottom:5px;
    font-size:20px;
}